<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-container>

        <b-navbar-toggle target="nav-collapse"/>
        <b-navbar-brand href="#">Registro de Grupos</b-navbar-brand>

        <b-collapse is-nav id="nav-collapse">
          <b-navbar-nav>
            <b-nav-item :to="{ name: 'home'}">Home</b-nav-item>
            <b-nav-item :to="{ name: 'create'}">Crear</b-nav-item>
            <b-nav-item :to="{ name: 'grid'}">Salir</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>

    <b-container>
      <router-view/>
    </b-container>

  </div>
</template>

