<template>
  <div>
    <div class="mt-5">
      <b-container>
        <b-jumbotron header="Crea tu Materia, Grupo o Usuario" lead="En esta sección podras crear una materia, grupo o un usuario">
        </b-jumbotron>
      </b-container>
      <b-container>
        <div>
          <Alert
                  :dismissSecs="10"
                  :type="alertTye"
                  :msg="messageForResponse + ''  + responseMsg"
                  :show="showAlertBool"
          />
        </div>
        <b-tabs content-class="mt-3">
          <b-tab title="Crear Materia" active>
            <MatterForm
                    :form="matter"
                    @onSubmitHandler="submitHandlerMatter"
                    @onSResetHandler="resetMatter"/>
          </b-tab>
          <b-tab title="Crear Grupo">
            <GroupForm
                    :form="group"
                    :matters="matterForSelect"
                    :users="usersForMultiSelect"
                    @onSubmitHandler="submitHandlerGroup"
                    @onResetHandler="resetGroup"
            />
          </b-tab>
          <b-tab title="Crear Usuario">
            <UserForm
                    :form="userData"
                    :options="groupsForMultiSelect"
                    @onSubmitHandler="submitHandlerUser"
                    @onSResetHandler="resetUser"
            />
          </b-tab>
        </b-tabs>
      </b-container>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex'
  import MatterForm from '@/components/MatterForm'
  import GroupForm from '@/components/GroupForm'
  import UserForm from '@/components/UserForm'
  import Alert from '@/components/Alert'

  export default {
    name: 'create',
    components: {
      MatterForm,
      GroupForm,
      UserForm,
      Alert
    },
    data() {
      return {
        showAlertBool: false
      }
    },
    methods: {
      submitHandlerMatter(form) {
        this.resetMatter()
        this.createMatter(form)
        this.getAllMatters()
      },
      submitHandlerGroup(form) {
        this.resetGroup()
        this.createGroup(form)
        this.getAllGroups()
      },
      submitHandlerUser(form) {
        this.resetUser()
        this.createUser(form)
      },
      ...mapMutations(['resetMatter', 'setMatter', 'resetGroup', 'resetUser']),
      ...mapActions(['createMatter', 'createGroup', 'createUser', 'getAllMatters', 'getAllGroups', 'getAllUsers'])
    },
    computed: {
      ...mapState(['matter', 'matters', 'group', 'groups', 'response', 'userData', 'users']),
      alertTye() {
        return this.response.success ? 'success':'danger'
      },
      responseMsg() {
        return !this.response.success ? this.response.data:''
      },
      matterForSelect() {
        return this.matters.length > 0 ? this.matters.map(matter => { return {value: matter.id, text: matter.name}}):[]
      },
      groupsForMultiSelect() {
        return this.groups.length > 0 ? this.groups.map(group => { return {id: group.id, name: group.name} }):[]
      },
      usersForMultiSelect() {
        return this.users.length > 0 ? this.users.map(users => { return {id: users.id, name: users.name} }):[]
      },
      messageForResponse() {
        return this.response.success ? 'Se ha creado correctamente ':'Se encontro un error al crear el registro '
      }
    },
    watch: {
      response(val) {
        this.showAlertBool = true
      }
    },
    mounted() {
      this.getAllMatters()
      this.getAllGroups()
      this.getAllUsers()
    }
  }
</script>
