<template>
    <div class="mt-5">
        <b-row>
            <b-col cols="12" md="6" lg="4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Adipisci aperiam assumenda, beatae eaque est, hic laboriosam
                    magnam minus modi mollitia nesciunt nihil non odio pariatur
                    qui tempora tenetur veniam veritatis.</p>
            </b-col>
            <b-col cols="12" md="6" lg="8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Adipisci aperiam assumenda, beatae eaque est, hic laboriosam
                    magnam minus modi mollitia nesciunt nihil non odio pariatur
                    qui tempora tenetur veniam veritatis.</p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    export default {
        name: 'Grid'
    }
</script>

<style scoped>

</style>
