<template>
  <div class="mt-5">
    <b-row>
      <b-col cols="12" md="6" lg="4">
        <Table :data="items"/>
      </b-col>
      <b-col cols="12" md="6" lg="8">
        <b-card>
          <b-media no-body>

            <b-media-body class="ml-3">
              <h5 class="mt-0">{{ personalData.name }}</h5>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </p>
            </b-media-body>
          </b-media>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-tabs content-class="mt-3">
          <b-tab title="Materias & Grupos" active>
            <b-row>
              <b-col>
                <div>
                  <h2>Materias</h2>
                  <Table
                          :data="matterForTable"
                          :fields="fieldsMatter"
                          :submitHandler="submitHandlerMatter"
                          :resetHandler="resetMatter"
                  />
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <div class="mt-5">
                  <h2>Grupos</h2>
                  <Table
                          :data="groupsForTable"
                          :fields="fieldsGroup"
                          :userSelect="usersForMultiSelect"
                          :mattersSelect="matterForSelect"
                  />
                </div>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Usuarios">
            <Table :data="usersForTable"/>
          </b-tab>
        </b-tabs>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapMutations, mapActions } from 'vuex'
import Table from '@/components/Table'
import PersonalData from '@/components/PersonalData'

export default {
  name: 'home',
  components: {
    Table,
    PersonalData
  },
  data() {
    return {
      items: [
        { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
        { age: 38, first_name: 'Jami', last_name: 'Carney' }
      ],
      fieldsMatter: ['id', 'name', 'description', 'groups', 'show_details'],
      fieldsGroup: ['matter_id', 'id', 'name', 'description', 'students_number', 'show_details']
    }
  },
  methods: {
    ...mapMutations(['resetMatter', 'setMatter', 'resetGroup', 'resetUser']),
    ...mapActions(['updateMatter', 'createGroup', 'createUser', 'getAllMatters', 'getAllGroups', 'getAllUsers']),
    submitHandlerMatter(form) {
      this.resetMatter()
      this.updateMatter(form)
      this.getAllMatters()
    },
    submitHandlerGroup(form) {
      this.resetGroup()
      this.createGroup(form)
      this.getAllGroups()
    },
    submitHandlerUser(form) {
      this.resetUser()
      this.createUser(form)
    },
  },
  computed: {
    ...mapState(['matter', 'matters', 'group', 'groups', 'users', 'response', 'userData', 'groupsUser', 'personalData']),
    matterForTable() {
      return this.matters.length > 0 ? this.matters.map(matter => { return {type: 'matter', id: matter.id, name: matter.name, description: matter.description, groups: matter.groups.length}}):[]
    },
    groupsForTable() {
      return this.groups.length > 0 ? this.groups.map(group => { return {type: 'group', matter_id: group.matter, id: group.id, name: group.name, description: group.description, dateStart: group.dateStart, matter: group.matter, students: group.students, students_number: group.students.length} }):[]
    },
    usersForTable() {
      return this.users.length > 0 ? this.users.map(users => { return {id: users.id, name: users.name, username: users.username, email: users.email, groups: users.groups.length}}):[]
    },
    matterForSelect() {
      return this.matters.length > 0 ? this.matters.map(matter => { return {value: matter.id, text: matter.name}}):[]
    },
    usersForMultiSelect() {
      return this.users.length > 0 ? this.users.map(users => { return {id: users.id, name: users.name} }):[]
    },
  },
  beforeMount() {
    this.getAllMatters()
    this.getAllGroups()
    this.getAllUsers()
  }
}
</script>
