<template>
    <div>
        <b-alert
                :show="dismissCountDown"
                dismissible
                :variant="type"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
        >
            <p>{{ msg }}</p>
            <b-progress
                    :variant="type"
                    :max="dismissSecs"
                    :value="dismissCountDown"
                    height="4px"
            />
        </b-alert>
    </div>
</template>

<script>
    export default {
        name: 'Alert',
        props: ['dismissSecs', 'type', 'msg', 'show'],
        data() {
            return {
                dismissCountDown: 0,
            }
        },
        methods: {
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                this.dismissCountDown = this.dismissSecs
            },
            eventSHow() {
                this.$parent.$on('statusResponse', this.showAlert)
            }
        },
        watch: {
            show() {
                if (this.show) {
                    this.showAlert()
                }
            }
        }
    }
</script>

<style scoped>

</style>
