<template>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

            <b-form-group id="input-group-2" label="Nombre del Grupo:" label-for="input-2">
                <b-form-input
                        id="input-2"
                        v-model="form.name"
                        required
                        placeholder="Ingresa el nombre del Grupo"
                />
            </b-form-group>

            <b-form-group id="input-group-3" label="Descripción:" label-for="input-3">
                <b-form-textarea
                        id="input-3"
                        v-model="form.description"
                        rows="3"
                        max-rows="6"
                        required
                        placeholder="Ingresa la descripción del Grupo"
                />
            </b-form-group>

            <b-row>
                <b-col cols="12" md="6" lg="4">
                    <b-form-group id="input-group-4" label="Fecha de inicio" label-for="input-4" >
                        <b-form-input
                                id="input-4"
                                v-model="form.dateStart"
                                required
                                type="date"
                        />
                    </b-form-group>

                </b-col>
                <b-col cols="12" md="6" lg="8">
                    <b-form-group id="input-group-5" label="Selecciona la materia del grupo:" label-for="input-5">
                        <b-form-select
                                v-model="form.matter"
                                :options="matters"
                        />
                    </b-form-group>
                </b-col>
            </b-row>

            <b-form-group id="input-group-12" label="Grupos:" label-for="input-12">
                <Multiselect
                        v-model="form.students"
                        :options="users"
                        :multiple="true"
                        :custom-label="nameWithLang"
                        :close-on-select="false"
                        :clear-on-select="false"
                        :preserve-search="true"
                        placeholder="Pick some"
                        label="name"
                        track-by="name"
                />
            </b-form-group>

            <b-button @click="onSubmit" variant="primary">Enviar</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    export default {
        name: 'GroupForm',
        props: ['form', 'matters', 'users'],
        components: {
            Multiselect
        },
        data() {
            return {
                show: true
            }
        },
        methods: {
            onSubmit() {
                this.$emit('onSubmitHandler', this.form)
            },
            onReset() {
                this.$emit('onResetHandler')
            },
            nameWithLang({ name }) {
                return name
            }
        }
    }
</script>

<style scoped>

</style>
