<template>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

            <b-form-group id="input-group-6" label="Nombre de la Materia:" label-for="input-6">
                <b-form-input
                        id="input-6"
                        v-model="form.name"
                        required
                        placeholder="Ingresa el nombre de la Materia"
                />
            </b-form-group>

            <b-form-group id="input-group-7" label="Descripción:" label-for="input-7">
                <b-form-textarea
                        id="input-7"
                        v-model="form.description"
                        rows="3"
                        max-rows="6"
                        required
                        placeholder="Ingresa la descripción de la materia"
                />
            </b-form-group>

            <b-button @click="onSubmit" variant="primary">Enviar</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card>
    </div>
</template>

<script>
    export default {
        name: 'MatterForm',
        props: ['form'],
        data() {
            return {
                show: true
            }
        },
        methods: {
            onSubmit() {
                this.$emit('onSubmitHandler', this.form)
            },
            onReset() {
                this.$emit('onSResetHandler')
            }
        }
    }
</script>

<style scoped>

</style>
