<template>
    <div>
        <b-modal id="my-modal" >Test</b-modal>
    </div>
</template>

<script>

    import MatterForm from './MatterForm'
    import GroupForm from './GroupForm'
    import UserForm from './UserForm'

    export default {
        name: 'ModalData',
        props: ['dataRow', 'modalShow'],
        components: {
            MatterForm,
            GroupForm,
            UserForm
        }
    }
</script>

<style scoped>

</style>
