<template>
    <div>
        <b-table striped hover outlined :items="data" :fields="fields" >
            <template v-slot:cell(show_details)="row">
                <b-button size="sm" @click="row.toggleDetails" class="mr-2" >
                    {{ row.detailsShowing ? 'Close' : 'Open' }} Details
                </b-button>
            </template>

            <template v-slot:row-details="row" >
                <MatterForm
                        v-if="row.item.type === 'matter'"
                        :form="{ id: row.item.id, name: row.item.name, description: row.item.description }"
                        @onSubmitHandler="submitHandler"
                        @onSResetHandler="resetHandler"
                />
                <GroupForm
                        v-if="row.item.type === 'group'"
                        :form="{ name: row.item.name, description: row.item.description, matter: row.item.matter,
                        students: userSelect.map((student, i) => { return { id: row.item.students[i], name: (student.id === row.item.students[i]) ? student.name:'Undefined' } }),
                        dateStart: row.item.dateStart.split('/').reverse().join('-') }"
                        :matters="mattersSelect"
                        :users="userSelect"
                />
            </template>
        </b-table>
    </div>
</template>

<script>

    import MatterForm from './MatterForm'
    import GroupForm from './GroupForm'
    import UserForm from './UserForm'

    export default {
        name: 'Table',
        props: ['data', 'fields', 'mattersSelect', 'userSelect', 'submitHandler', 'resetHandler'],
        components: {
            MatterForm,
            GroupForm,
            UserForm
        },
    }
</script>

