<template>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

            <b-row>
                <b-col cols="12" md="6" lg="6">
                    <b-form-group id="input-group-8" label="Nombre de la persona:" label-for="input-8">
                        <b-form-input
                                id="input-8"
                                v-model="form.name"
                                required
                                placeholder="Ingresa el nombre de la persona"
                        />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="6" lg="6">
                    <b-form-group id="input-group-9" label="Nombre de Usuario:" label-for="input-9">
                        <b-form-input
                                id="input-9"
                                v-model="form.username"
                                required
                                placeholder="Tu nombre de usuario"
                        />
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12" md="6" lg="6">
                    <b-form-group id="input-group-10" label="Email:" label-for="input-10">
                        <b-form-input
                                id="input-10"
                                v-model="form.email"
                                type="email"
                                required
                                placeholder="Ingresa el email del usuario"
                        />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="6" lg="6">
                    <b-form-group id="input-group-11" label="Contraseña:" label-for="input-11">
                        <b-form-input
                                id="input-11"
                                v-model="form.password"
                                type="password"
                                required
                                placeholder="Ingresa la contraseña del usuario"
                        />
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12" md="6" lg="12">
                    <b-form-group id="input-group-12" label="Grupos:" label-for="input-12">
                        <Multiselect
                                v-model="form.groups"
                                :options="options"
                                :multiple="true"
                                :custom-label="nameWithLang"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                placeholder="Pick some"
                                label="name"
                                track-by="name"
                        />
                    </b-form-group>
                </b-col>
            </b-row>

            <b-button @click="onSubmit" variant="primary">Enviar</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card>
    </div>
</template>

<script>

    import Multiselect from 'vue-multiselect'

    export default {
        name: 'UserForm',
        components: {
            Multiselect
        },
        props: ['form', 'options'],
        data() {
            return {
                show: true
            }
        },
        methods: {
            onSubmit() {
                this.$emit('onSubmitHandler', this.form)
            },
            onReset() {
                this.$emit('onSResetHandler')
            },
            nameWithLang({ name }) {
                return name
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"/>
<!--<style scoped>-->

<!--</style>-->
